<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expires_in</key>
	<string></string>
	<key>access_token</key>
	<string>JHDgqoh3dP0ZPwEh7ljLgfJj9G3YEE</string>
	<key>client_id</key>
	<string>UVqaVOySchov0HsDNyGl7dFDGfU7h2gCuQ1e5xC9</string>
	<key>client_secret</key>
	<string>gfxs4koDYxi5GPKpzTqt-TjbdEfKSsbt6yfUiDYs</string>
</dict>
</plist>
